<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Guardar logs en un archivo -->
	  <target xsi:type="File" name="file" fileName="C:\Logs\logfile.log" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>
  <rules>
    <!-- Registrar todos los logs de nivel Info o superior -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>